// Component level variables
$autowide-cursive: 'Audiowide', cursive;

.previewer { 
    float: left;
    width: 50%;
    height: 95%;

    .preview-header {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
        font-family: $autowide-cursive;
        letter-spacing: 1px;
        color: #7e7f82;
    }

    .preview {
        overflow: auto;
        height: 100%;
        padding: 10px 30px;
        background-color: #d4d4d4;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
    }
}